/* App.css */
.App {
  background-color: black;
  min-height: 100vh; /* Ensure the app takes at least the full viewport height */
  background-image: url('/public/c3e2ebd4ca48f426434c767dd68d037a.png');
  max-width: 100%;
  width: 100%; /* Set width to 100% */
}


/* Responsive adjustments */
@media (max-width: 1200px) {
  .Intro {

  padding-left: 25px;
  }
  .Roadmap {

    padding-left: 25px;
  }
  .Gallery {
 
    padding-left: 25px;
  }
  .Faq {

    padding-left: 25px;
  }

  /* Add other necessary adjustments */
}

/* Add more media queries for smaller screen sizes */
@media (max-width: 768px) {
  .Intro {

    padding-left: 0rem;
    }
    .Roadmap {

      padding-left: 1rem;
    }
    .Gallery {
  
      padding-left: 4rem;
    }
    .Faq {
    padding-left: 6rem;
    }

  /* Add other necessary adjustments */
}
